@import 'header';
@import 'promo';
@import 'slogan';
@import 'environment';
@import 'desing';
@import 'devs';
@import 'carousel';
@import 'start';
@import 'footer';
@import 'media';

* {
    font-family: 'Roboto', sans-serif;
    padding: 0 auto;
    margin: 0 auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    background-color: #f5f5f5;
}